.row{
    margin: 0;    
}

.main-testimonial {
  border: 0.125rem solid var(--primary-color);
  border-radius: 1.25rem;
  padding: 32px 24px!important;
}

.name {
  font-size: 1.75rem;
  font-family: "PT Serif", serif;
  font-weight: 500;
  color: var(--primary-color);
  padding: 16px 0;
}

.describ{
    color: var(--white-color);
    font-family: "PT Sans Caption", sans-serif; 
}


.image{
    max-width: 120px;
}
